*
{
    margin: 0;
    padding: 0;
}
body{

   background-color: rgb(72, 1, 186);
}
.cointainer
{
    width: 500px;
    margin: 30px auto;
    border-radius: 20px;

   padding: 15px;
    background-color: rgba(182, 39, 248, 0.288);
}
span
{
    background-color: violet;
    color: black;
    padding: 5px;
    border-radius: 20px;
    margin-top: -5px;
}
h1
{
    color: white;
    margin-bottom: 10px;
    
}
#textarea
{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.674);
}
#selection
{
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    height: 30px;
    outline: none;
     background-color: rgba(255, 255, 255, 0.283);
}
#button
{
    margin: 10px;
    width: 70px;
    height: 30px;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 10px;
}
#button:hover
{
    transition: ease-in 0.1s;
  transform: scale(1.1);
}